<div class="wrapper">


<h1>All our flats (<%= @flats.count %>)</h1>

<div class="grid">

  <% @flats.each do |flat| %>

    <div class="card">
      <div class="card-top">
        <h3><%= flat.description %></h3>
        <p><%= flat.address %></p>
        <i class="fa fa-users"></i><%= flat.price_per_night %>
        <i class="fa fa-euro-sign"></i><%= flat.number_of_guest %>
      </div>
      <div class="card-bottom">
        <a href="/" >Main Menu</a>
      </div>
    </div>

  <% end %>

</div>

</div>
